* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #d8f3dc;
  font-family: "Quattrocento Sans", sans-serif;
  list-style-type: none;
}

body {
  background: radial-gradient(
    circle,
    rgba(116, 198, 157, 1) 0%,
    rgba(64, 145, 108, 1) 60%,
    rgba(45, 106, 79) 100%
  );
  font-size: 24px;
  margin: 20px;
  padding: 20px;
  line-height: 28px;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #d8f3dc;
  background-size: cover;
  text-align: center;
}

#logo {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 40px;
  padding: 10px;
  text-align: start;
  justify-content: left;
}

#navbar {
  display: flex;
  flex-direction: row;
  flex: content;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.prof-card {
  width: 350px;
  text-align: center;
  border-radius: 70px;
}

.card-head {
  background: #74c69d;
  border-radius: 25px;
  padding: 40px 40px;
  margin-top: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.pic {
  display: inline-block;
  padding: 11px;
  background: linear-gradient(130deg, #3d675e, #daa8b6);
  margin: 10px;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 3s linear infinite;
}

.name {
  font-size: 24px;
  font-weight: 600;
  padding: 15px 0px;
  margin: 10px 0px;
}
@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left top;
  }
  100% {
    background-position: right top;
  }
}

.pic img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.descr {
  font-size: 18px;
  color: #66424c;
}

.sm {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.sm a {
  width: 55px;
  color: #d8f3dc;
  font-size: 22px;
  transition: 0.3s linear;
}

.sm a:hover {
  color: #74c69d;
}

.cont-btn {
  display: inline-block;
  padding: 10px 40px;
  color: #66424c;
  border: 1px solid #66424c;
  border-radius: 8px;
  margin-top: 16px;
  transition: 0.3s linear;
}

.cont-btn:hover {
  color: #74c69d;
  background: #66424c;
}

/* #container {
  display: grid;
  justify-content: center;
  align-content: center;
} */
#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap; /*items won`t wrap, will instead resize to fit */
}

a:hover {
  color: #74c69d;
}
.section {
  display: grid;
  justify-content: space-evenly;
  grid-column: auto;
  padding: 10px;
  margin: 10px;
}

.name {
  text-transform: uppercase;
}
.card {
  text-align: center;
}

a {
  color: #d8f3dc;
}

h2 {
  margin: 15px;
  text-decoration: none;
}

h3 {
  margin: 15px;
  text-decoration: none;
}

button {
  color: #74c69d;
  background-color: #1b4332;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

footer {
  flex-direction: column;
  flex: content;
  text-align: center;
  text-justify: auto;
  padding: 25px;
  margin: 25px;
  width: 100%;
}

footer a:hover {
  color: #74c69d;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #b7e4c7;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #b7e4c7;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #1b4332;
  color: #b7e4c7;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #74c69d;
}

/* Kebab button */
.header {
  width: 100%;
  height: 60px;
}

.showLeft {
  text-shadow: none !important;
  color: #fff;
  padding: 10px;
}

.icons li {
  background: none repeat scroll 0 0 #b7e4c7;
  height: 7px;
  width: 7px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 25px;
  margin-top: 8px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}

.btn-left {
  left: 0.4em;
}

.btn-right {
  right: 0.4em;
}

.btn-left,
.btn-right {
  position: absolute;
  top: 0.24em;
}

.dropbtn {
  position: fixed;
  /* color: white; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  color: #b7e4c7;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 0.4em;
}

.dropdown-content {
  display: none;
  position: relative;
  margin-top: 5px;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  /* color: black; */
  padding: 5px 3px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: #74c69d;
}

.show {
  display: block;
}

input {
  color: #1b4332;
}

textarea {
  color: #1b4332;
}

#btn {
  font-size: 15px;
  text-align: center;
  padding: 5px;
  margin: 22px;
  color: #d8f3dc;

  position: relative;

  cursor: pointer;

  /* position: absolute; */
}

#btn:hover {
  color: #74c69d;
}

.thm-toggle {
  border: none;
  background-color: none;
  text-align: center;
  border-radius: 50%;
  /* justify-content: end; */
  /* width: 50px; */
  height: 30px;
  font-size: 10px;
  /* padding-top: 5px;
  margin-right: 5px; */
}

/* mobile */
@media only screen and (max-width: 600px) {
  body {
    line-height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  header {
    font-size: 20px;
    line-height: 40px;
  }

  #logo {
    text-align: center;
    justify-content: center;
    padding: 20px;
  }

  #myDropdown {
    align-items: center;
    text-align: center;
    display: flex;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
  }
  .dropbtn {
    display: none;
  }

  .dropdown-content {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #btn {
    display: none;
  }

  .thm-toggle {
    display: none;
  }

  .card-head {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .prof-card {
    width: 350px;
    text-align: center;
    border-radius: 70px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    flex: content;
    text-align: center;
    text-justify: auto;
    padding: 10px;
    margin: 0px;
    width: 100%;
  }
  .dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
  }
}
